// $Id$
//Custom styles for the FiveAliveHS Grape option theme.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
$light: #a02871;

$bg-light: #a02871 !important;

$link-color: #a02871;
$link-hover-color: #a02871;

// $btn-primary-bg: #a02871;
// $btn-primary-border: #8e286a;
// $btn-primary-focus-bg: #661d4c;
// $btn-primary-focus-border: #8e286a;
// $btn-primary-hover-bg: #661d4c;
// $btn-primary-hover-border: #5e1b46;
// $btn-primary-active-bg: #661d4c;
// $btn-primary-active-border: #5e1b46;
// $btn-primary-active-hover-bg: #5e1b46;
// $btn-primary-active-hover-border: #8e286a;
// $btn-primary-disabled-bg: #a02871;
// $btn-primary-disabled-border: #8e286a;
// $btn-primary-badge-color: #a02871;
// $btn-primary-badge-bg: #ffffff;

// $btn-secondary-bg: #a02871;
// $btn-secondary-border: #8e286a;
// $btn-secondary-focus-bg: #661d4c;
// $btn-secondary-focus-border: #8e286a;
// $btn-secondary-hover-bg: #661d4c;
// $btn-secondary-border: #5e1b46;
// $btn-secondary-active-bg: #661d4c;
// $btn-secondary-border: #5e1b46;
// $btn-secondary-active-hover-bg: #5e1b46;
// $btn-secondary-active-hover-border: #8e286a;
// $btn-secondary-disabled-hover-color: #a02871;
// $btn-secondary-disabled-hover-border: #8e286a;
// $btn-secondary-badge-color: #a02871;
// $btn-secondary-bg-color: #ffffff;

$navbar-dark-color: #fff;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;


$hr-border-color: #a02871;

$bg-dark: #063035;

$card-border-color: #bc2f84;
$bg-light: #0a8794;
$table-border-color: #a82a76;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

$input-color: #555555;
$input-bg: #f4dded;
$input-border: #e4afd3;
$input-border-top-color: #e4afd3;
$input-border-right-color: #fff;
$input-border-bottom-color: #fff;
$input-border-left-color: #e4afd3;

$dropdown-bg: #a02871;
$dropdown-border-color: rgba(0, 0, 0, 0.15);

$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f9f9f9;
$dropdown-link-hover-bg: #742157;
$dropdown-link-active-color: red;
$dropdown-link-active-bg: #742157;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$nav-tabs-link-color: #000;
$nav-tabs-link-bg: $input-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: $dropdown-link-hover-bg;


$nav-pills-link-active-bg: #a02871;
$pagination-color: #a02871;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #a02871;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #a02871;
$pagination-active-border-color: #a02871;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

$theme-colors: (
        "light":			#ffffff,
        "dark":				#261122
);


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
//$bg-light-alt: #117485 !important;

$side-column-heading-color: #bc2f84;

$middle_outer-inset-shadow-bg: #261122;
$footer_liner-card-inner-border: #a52873;

$footer-accent-color: $input-border;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #a02871;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #3b284a;

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

.header_outer,
.layout_basic #top_modules,
.postbody-title,
.tiki > .navbar.fixed-top.bg-light/*,
.tiki > .fixed-top.bg-light*/ {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#642759+0,732860+19,92286b+43,a32872+67,a52873+100 */
  background: #642759; /* Old browsers */
  background: -moz-linear-gradient(left,  #642759 0%, #732860 19%, #92286b 43%, #a32872 67%, #a52873 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #642759 0%,#732860 19%,#92286b 43%,#a32872 67%,#a52873 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #642759 0%,#732860 19%,#92286b 43%,#a32872 67%,#a52873 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#642759', endColorstr='#a52873',GradientType=1 ); /* IE6-9 */
}

$enable-gradients: true;