// $Id$
// This file is for additional CSS rules beyond what are in variables.less.
// Image path example:
$imagePath: "../images/";
// body {
//	background-image: url('@{imagePath}bg.jpg');
// }

html {  background-color: #414141; }

.header_outer,
.layout_basic #top_modules {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#136d9f+0,28a7de+100 */
  background: #136d9f; /* Old browsers */
  background: -moz-linear-gradient(left, #136d9f 0%, #28a7de 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #136d9f 0%, #28a7de 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #136d9f 0%, #28a7de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#136d9f', endColorstr='#28a7de', GradientType=1); /* IE6-9 */

  color: #000000;
  .siteloginbar_popup > .btn-link {
	color: #f8f8f8;
  }
}

#fullscreenbutton a {
  color: #000000;
}

.middle_outer {
  -webkit-box-shadow: inset 0 54px 0 0 #043b5a;
  -moz-box-shadow: inset 0 54px 0 0 #043b5a;
  box-shadow: inset 0 54px 0 0 #043b5a;
}

#topbar {
  min-height: 54px;
  margin-bottom: 20px;
//  padding-top: 8px;
}

.topbar form {
  .form-control,
  .btn {
    margin-top: 0.5rem;
  }
}
//#topbar.affix { width: @container-desktop; }

#topbar.affix {
  width: 100%;
  left: 0;
}

#topbar.row.affix {
  margin-left: 0;
  margin-right: 0;
}

#topbar.affix {
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-transition: all 0.6s ease-in-out;
}

.navbar-static-top {
  z-index: 999;
}

.topbar .navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: bold;
}

//.topbar .nav > li > a:hover,
//.topbar .nav > li > a:focus {
//  background: #1a1a1a;
//}

.nav-justified .navbar-nav {
  width: 100%;
}

//// Prevent affixed navbar from overlapping autotoc.
//.autotoc .affix { top: 80px; }

//@media (min-width: 768px) {
//	.nav-justified .navbar-nav > li {
//		float: none;
//		display: table-cell;
//		width: 1%;
//		& > a {
//			text-align: center;
//			padding-left: 20px;
//			padding-right: 20px;
//		}
//	}
//}

//.nav-justified .dropdown .dropdown-menu {
//	top: auto;
//	left: auto;
//}

//// repeat bootstrap rule without ">" due to Tiki menu HTML
//@media (max-width: 768px) {
//	.nav-justified li {
//		float: none;
//	}

//	.nav-justified li > a {
//		text-align: center;
//		margin-bottom: 5px;
//	}
//}

//.popover a {
//	color: #000000;
//	&:hover {
//		background: #ffffff;
//	}
//}

//.popover .iconmenu:hover {
//	background: #ffffff;
//}

//.popover .iconmenu a:hover {
//	text-decoration: none;
//}

//#wrap > .container,
//body > .container > .container {
//	padding: 60px 15px 0;
//}

//#row-middle {
//	margin-left: 0;
//	margin-right: 0;
//}

//.container .credit {
//	margin: 20px 0;
//}



h1, h2, h3, h4 {
  //	font-family: 'Kreon', serif;
  vertical-align: middle;
}

#page-header {
  h1,
  h2,
  h3 a,
  a,
  a:hover {
	color: #f8f8f8; //#101010;
	font-weight: 800;
	text-decoration: none;
  }

  h3 {
	//		font-family: 'Kreon', serif;
	//		background: #27A6DD;
	//		padding:10px;
	border-radius: 3px;
	font-size: 34px;
	padding: 12px 10px 6px 10px;
  }
  //	.dropdown-menu {
  //		//	top:74px;
  //		background: #27A6DD;
  //		border-width: 0;
  //	}
}

.dropdown-menu {
  text-transform: none;
}

h1 {
  font-size: 50px;
}

//#topbar {
//  width: 100%;
//  position: static;
//  top: -32px;
//}

//#topbar.affix {
//  position: fixed;
//  top: 0;
//  z-index: 1030;
//  -webkit-transition: all .6s ease-in-out;
//}

///* navbar style */
//.topbar .navbar-nav > li {
//  background-color: #043b5a;
// font-weight: 700;
//  text-transform: uppercase;
//  border-width: 0;
//}

//.topbar .navbar-nav > li > a {
//  color: #ffffff;
//}

//.topbar .navbar-nav > li > a:hover,
//.navbar-nav > li .open,
//.topbar .navbar-nav .active > a {
//  background-color: #1a1a1a;
//}

//.divider {
//  height: 100px;
//}

//.card {
//  border-width: 0;
//}


.col2,
.col3 {
  .card,
  .card-header,
  .card-footer {
  background: none;
  background-color: transparent;
  border: none;
	}
}


.blog-postbody-title .card-title {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  #page-header {
	height: auto;
  }
}

section {
  color: #ffffff;
  min-height: 400px;
  height: auto !important;
  height: 100%;
  padding-top: 100px;
}

// Page footer
.main-footer {
  min-height: 60px;
  margin-top: 50px;
  background: #414141;
  color: #ffffff;
}

.footer_liner {
  padding: 15px 0;
  a {
	color: #efefef;
  }
  color: #f9f9f9;
  legend {
	color: #f9f9f9;
  }
  .card,
  .card-header,
  .card-footer {
	background: transparent;
	border-color: transparent;
  }
}
//.card,
//.card-header {
//  background-color: transparent;
//  border: none;
//}









.nav-tabs .nav-item {
  margin-right: 1px;
}