$imagePath: "../../../images/";

.container {
	background: #b1c1db url('#{$imagePath}flakesptn.jpg') !important; // important to override parent theme's specificity
	border: 1px solid #6c7b8c;
	webkit-box-shadow: none !important;
	box-shadow: none !important;
}

body.fullscreen {
	background: #b1c1db url('#{$imagePath}flakesptn.jpg') !important;
	.container {
		background: none !important;
		border: none;
	}
}

.card {
	background: url('#{$imagePath}flakesptn2.jpg');
}

#col2 .card-header,
#col3 .card-header {
	background: url('#{$imagePath}boxtop.jpg') no-repeat transparent;
	background-size: 100%;
	border-bottom: medium none currentColor;
	//  height: 35px;
	//  padding-top: 8px;
  & h3.card-title {
	padding-top: 1rem;
  }
}

#col2 .card-header + .card-body {
  padding-top: 0;
}

#col2 .card-footer,
#col3 .card-footer {
	background: url('#{$imagePath}boxbtm.jpg') no-repeat transparent 0 100%;
	background-size: 100%;
	//  height: 54px;
	border-top: none;
}

#col2,
#col3 {
	.card {
		background: url('#{$imagePath}boxmid.jpg') repeat-y transparent;
		background-size: 100%;
		//  margin: 5px 10px;
	}
	.card-footer {
		display: block;
	}
}

.card-body .cssmenu_vert { margin-left: -35px; }

.layout_social .navbar-fixed-top,
.layout_social .navbar-fixed-top .container,
.navbar-dark,
.topbar,
.topbar .cssmenu_horiz > ul,
.topbar .navbar-nav > li,
.topbar .nav > li,
.bg-dark {
	background: #d7e5f3 url('#{$imagePath}pagetitle-bg.jpg') repeat-x !important;
	background-size: 400px 100% !important;
	margin-bottom: 0;
	border: none;
}

.tiki.layout_social .navbar.navbar-dark .container {
  background: transparent;
  background-image: none;
}

.topbar .nav > li > a:hover,
.topbar .nav > li > a:focus,
.topbar .cssmenu_horiz > li > a:hover,
.topbar .cssmenu_horiz > li:hover,
.topbar .cssmenu_horiz li.sfHover:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background: #d7e5f3 url('#{$imagePath}pagetitle-bg.jpg') repeat-x;
	color: #555555;
}

.dropdown-menu > li > form {
	background: url('#{$imagePath}flakesptn2.jpg');
}

.dropdown-menu > li > a {
	background: url('#{$imagePath}flakesptn2.jpg');
	&:hover {
		background: url('#{$imagePath}flakesptn3.jpg');
	}
}

.nav > li > a:hover {
	background: url('#{$imagePath}flakesptn3.jpg');
}

