/*  The Grape theme option file for the FiveAlive-lite theme of Tiki Wiki CMS Groupware. */
/*  The theme option selectors file for the FiveAlive-lite theme of Tiki Wiki CMS Groupware. Each theme option has a variables file
 to create CSS rules using this file. */
a, .btn-link {
  color: #8e286a; }

a:hover, .btn-link:hover, a:focus, .btn-link:focus {
  color: #a02871; }

.btn-primary {
  color: #fff;
  background-color: #a02871;
  border-color: #8e286a; }

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #661d4c;
  border-color: #8e286a; }

.btn-primary:hover {
  color: #fff;
  background-color: #661d4c;
  border-color: #5e1b46; }

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #661d4c;
  border-color: #5e1b46; }

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #4a1538;
  border-color: #8e286a; }

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-image: none; }

.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
  background-color: #a02871;
  border-color: #8e286a; }

.btn-primary .badge {
  color: #a02871;
  background-color: #fff; }

hr {
  border-top: 1px solid #a02871; }
/*
 .alert-success {
 .alert-variant(@alert-success-bg; @alert-success-border; @alert-success-text);
 }
 .alert-info {
 .alert-variant(@alert-info-bg; @alert-info-border; @alert-info-text);
 }
 .alert-warning {
 .alert-variant(@alert-warning-bg; @alert-warning-border; @alert-warning-text);
 }
 .alert-danger {
 .alert-variant(@alert-danger-bg; @alert-danger-border; @alert-danger-text);
 }
 */
.table thead th, .table tbody th, .table tfoot th, .table thead td, .table tbody td, .table tfoot td {
  border-top: 1px solid #a82a76; }

.table thead th {
  border-bottom: 2px solid #a82a76; }

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
  border-top: 0; }

.table > tbody + tbody {
  border-top: 2px solid #a82a76; }

.table .table {
  background-color: #fff; }

.table .table-bordered {
  border: 1px solid #a82a76; }

.table .table-bordered thead th, .table .table-bordered tbody th, .table .table-bordered tfoot th, .table .table-bordered thead td, .table .table-bordered tbody td, .table .table-bordered tfoot td {
  border: 1px solid #a82a76; }

.table .table-striped tbody tr:nth-child(odd) td, .table .table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9; }

.table .table-hover tbody tr:hover td, .table .table-hover tbody tr:hover th {
  background-color: #a82a76; }

.form-control {
  color: #f5f5f5;
  background-color: #f4dded;
  background-image: none;
  border: 1px solid #f8f9d4; }

.navbar-light {
  background-color: #a02871;
  border-color: transparent; }

.navbar-light .navbar-brand {
  color: #fff; }

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent; }

.navbar-light .navbar-text {
  color: #fff; }

.navbar-light .navbar-nav > li > a {
  color: #fff; }

.navbar-light .navbar-nav > li > a:hover, .navbar-light .navbar-nav > li > a:focus {
  color: #f9f9f9;
  background-color: #742157; }

.navbar-light .navbar-nav > .active > a, .navbar-light .navbar-nav > .active > a:hover, .navbar-light .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #742157; }

.navbar-light .navbar-nav > .disabled > a, .navbar-light .navbar-nav > .disabled > a:hover, .navbar-light .navbar-nav > .disabled > a:focus {
  color: #fff;
  background-color: transparent; }

.navbar-light .navbar-toggle {
  border-color: #ddd; }

.navbar-light .navbar-toggle:hover, .navbar-light .navbar-toggle:focus {
  background-color: #ddd; }

.navbar-light .navbar-toggle .icon-bar {
  background-color: #888; }

.navbar-light .navbar-collapse, .navbar-light .navbar-form {
  border-color: transparent; }

.navbar-light .navbar-nav > .open > a, .navbar-light .navbar-nav > .open > a:hover, .navbar-light .navbar-nav > .open > a:focus {
  background-color: #742157;
  color: #fff; }

.navbar-light .navbar-nav .open .dropdown-menu > li > a {
  color: #fff; }

.navbar-light .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-light .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #f9f9f9;
  background-color: #742157; }

.navbar-light .navbar-nav .open .dropdown-menu > .active > a, .navbar-light .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-light .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #742157; }

.navbar-light .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-light .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-light .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #fff;
  background-color: transparent; }

.navbar-light .navbar-link {
  color: #fff; }

.navbar-light .navbar-link:hover {
  color: #f9f9f9; }

.navbar-dark {
  background-color: #5e1b46;
  border-color: #360f29; }

.navbar-dark .navbar-brand {
  color: #eee; }

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #fff;
  background-color: transparent; }

.navbar-dark .navbar-text {
  color: #eee; }

.navbar-dark .navbar-nav > li > a {
  color: #eee; }

.navbar-dark .navbar-nav > li > a:hover, .navbar-dark .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent; }

.navbar-dark .navbar-nav > .active > a, .navbar-dark .navbar-nav > .active > a:hover, .navbar-dark .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #360f29; }

.navbar-dark .navbar-nav > .disabled > a, .navbar-dark .navbar-nav > .disabled > a:hover, .navbar-dark .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent; }

.navbar-dark .navbar-toggle {
  border-color: #333; }

.navbar-dark .navbar-toggle:hover, .navbar-dark .navbar-toggle:focus {
  background-color: #333; }

.navbar-dark .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-dark .navbar-collapse, .navbar-dark .navbar-form {
  border-color: #421332; }

.dropdown-menu {
  background-color: #a02871;
  border: 1px solid rgba(0, 0, 0, 0.15); }

.dropdown-menu > li > a {
  color: #fff; }

.dropdown-item:hover, .dropdown-item:focus {
  color: #f2f2f2;
  background-color: #a02871; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #8e286a; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #999; }

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  background-color: transparent;
  background-image: none; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #8e286a; }

.pagination > li > a, .pagination > li > span {
  color: #8e286a;
  background-color: #fff;
  border: 1px solid #ddd; }

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #a02871;
  background-color: #eee;
  border-color: #ddd; }

.pagination .active a, .pagination .active span, .pagination .active a:hover, .pagination .active span:hover, .pagination .active a:focus, .pagination .active span:focus {
  color: #fff;
  background-color: #8e286a;
  border-color: #8e286a; }

.pagination .disabled span, .pagination .disabled span:hover, .pagination .disabled span:focus, .pagination .disabled a, .pagination .disabled a:hover, .pagination .disabled a:focus {
  color: #999;
  background-color: #fff;
  border-color: #ddd; }

.card {
  background-color: #fff; }

.card-header {
  border-bottom: 1px solid #ddd; }

.card-header > .dropdown .dropdown-toggle {
  color: inherit; }

.card-title {
  color: inherit; }

.card-title > a {
  color: inherit; }

.card-footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd; }

.panel-default {
  border-color: #ddd; }

.panel-default > .panel-heading {
  color: #fff;
  background-color: #0b8a98;
  border-color: #ddd; }

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd; }

.panel-default > .panel-heading .badge {
  color: #0b8a98;
  background-color: #fff; }

.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd; }

.panel-primary {
  border-color: #0b8a98; }

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #0b8a98;
  border-color: #0b8a98; }

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #0b8a98; }

.panel-primary > .panel-heading .badge {
  color: #0b8a98;
  background-color: #fff; }

.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #0b8a98; }

.card.bg-success {
  border-color: #d6e9c6; }

.card.bg-success .card-header {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.card.bg-success .card-header + .card-collapse .card-body {
  border-top-color: #d6e9c6; }

.panel-success > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d; }

.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6; }

.panel-info {
  border-color: #bce8f1; }

.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1; }

.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f; }

.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1; }

.panel-warning {
  border-color: #faebcc; }

.panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }

.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #faebcc; }

.panel-warning > .panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b; }

.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #faebcc; }

.panel-danger {
  border-color: #ebccd1; }

.panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ebccd1; }

.panel-danger > .panel-heading .badge {
  color: #f2dede;
  background-color: #a94442; }

.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1; }

.label {
  color: #fff; }

.label[href]:hover, .label[href]:focus {
  color: #fff; }

.label-secondary {
  background-color: #999; }

.label-default[href]:hover, .label-default[href]:focus {
  background-color: #808080; }

.label-primary {
  background-color: #8e286a; }

.label-primary[href]:hover, .label-primary[href]:focus {
  background-color: #661d4c; }

.label-success {
  background-color: #5cb85c; }

.label-success[href]:hover, .label-success[href]:focus {
  background-color: #449d44; }

.label-info {
  background-color: #5bc0de; }

.label-info[href]:hover, .label-info[href]:focus {
  background-color: #31b0d5; }

.label-warning {
  background-color: #f0ad4e; }

.label-warning[href]:hover, .label-warning[href]:focus {
  background-color: #ec971f; }

.label-danger {
  background-color: #d9534f; }

.label-danger[href]:hover, .label-danger[href]:focus {
  background-color: #c9302c; }

.middle_outer {
  -webkit-box-shadow: inset 0 24px 0 0 #a02871;
  box-shadow: inset 0 24px 0 0 #a02871; }

.fullscreen .middle_outer {
  -webkit-box-shadow: inset 0 3px 0 0 #a02871;
  box-shadow: inset 0 3px 0 0 #a02871; }

.topbar, .topbar_container, .layout_basic .page-header > .topbar {
  background: #a02871; }

.top_modules a, .topbar a, .top_modules label, .topbar label {
  color: #fff; }

.navbar-collapse.collapse.in {
  background: #a02871; }

.navbar-nav .open .dropdown-menu, .navbar-nav .open .dropdown-menu li, .navbar-light .navbar-nav > li > a {
  background: #8e286a; }

.topbar .cssmenu_horiz ul {
  background: #a02871; }

.cssmenu_horiz li ul, .cssmenu_vert li ul {
  background-color: #a02871;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.cssmenu_horiz li ul > li > a, .cssmenu_vert li ul > li > a {
  padding: 3px 20px;
  font-weight: normal;
  color: #fff;
  background: #a02871; }

.topbar .cssmenu_horiz li.selected a, .cssmenu_horiz ul li.selected a {
  background: #2e1f39; }

.cssmenu_horiz > li > a:hover, .cssmenu_vert > li > a:hover, .cssmenu_horiz ul > li > a:hover, .cssmenu_vert ul > li > a:hover, .cssmenu_horiz > li > a:focus, .cssmenu_vert > li > a:focus, .cssmenu_horiz ul > li > a:focus, .cssmenu_vert ul > li > a:focus {
  text-decoration: none;
  color: #f2f2f2;
  background-color: #a02871; }

.topbar .cssmenu_horiz li a:hover {
  background: #742157; }

.topbar .navbar-nav > li > a, .topbar .navbar > li > a, .topbar .cssmenu_horiz > li > a {
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 1;
  color: #fff; }

.sf-arrows .sf-with-ul:after {
  border: 5px solid transparent;
  border-top-color: #8e286a; }

.cssmenu_vert.sf-arrows li > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #8e286a;
  /* edit this to suit design (no rgba in IE8) */ }

.sf-arrows ul .sf-with-ul:after, .cssmenu_vert.sf-arrows ul > li > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #fff;
  /* edit this to suit design (no rgba in IE8) */ }

.sf-arrows ul li > .sf-with-ul:focus:after, .sf-arrows ul li:hover > .sf-with-ul:after, .sf-arrows ul .sfHover > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #f2f2f2; }

.cssmenu_vert.sf-arrows li > .sf-with-ul:focus:after, .cssmenu_vert.sf-arrows li:hover > .sf-with-ul:after, .cssmenu_vert.sf-arrows .sfHover > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #f2f2f2; }

.topbar .navbar {
  margin-bottom: 0; }

.header_outer, .layout_fixed_top_modules .navbar-fixed-top, .layout_social_modules .navbar-fixed-top, .layout_basic .page-header > .top_modules {
  background: #5e1b46;
  border-bottom: 5px solid #000; }

.header_container > .header {
  background: none; }

header.header .module.secondary_site_menu {
  background: none; }

.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none; }

.form-control, select, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="file"], input[type="search"], input[type="number"], input#login-pass, textarea, .adminoptionbox option {
  color: #555;
  background-color: #f4dded;
  border-color: #e4afd3 #fff #fff #e4afd3; }

.navbar-collapse {
  border: none; }

#col2 .card, #col3 .card {
  border: none; }

#col2 .card-header, #col3 .card-header {
  background: #fff;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #8e286a; }

#col2 .card-title, #col3 .card-title, a.flipmoduletitle, #col2 .card-header a, #col3 .card-header a {
  color: #8e286a; }

#footer {
  background: #000;
  color: #fff;
  padding: 1px 0 2px 0;
  width: 100%; }

.footer {
  border-top: 1px solid #8e286a;
  border-bottom: 1px solid #8e286a; }

.footer_liner .panel, .footer_liner .panel-default, .footer_liner .panel-heading {
  background: transparent; }

.footer_liner h3.card-title {
  color: #fff;
  border-bottom: 1px dotted #8e286a; }

.footer_liner a.btn-primary, .footer_liner a.btn-primary:visited {
  color: #e6e6e6; }

.postbody-title {
  background: url('../images/siteheader.png') no-repeat -480px -200px;
  color: #fff; }

.postbody-title .title > .card-title a.link, .panel-default > .card-header a {
  color: #fff; }

.blog-postbody-title h2.panel-title {
  font-size: 20px; }

.siteloginbar_popup .dropdown-menu > li > a {
  color: #fff; }

.layout_basic .page-header > .top_modules a, header.header a, .layout_basic .page-header > .top_modules .btn-link, header.header .btn-link, .layout_basic .page-header > .top_modules .sitetitle, header.header .sitetitle, .layout_basic .page-header > .top_modules .sitesubtitle, header.header .sitesubtitle {
  color: #fff;
  text-shadow: none; }

.searchresults blockquote em, .highlight, .btn-primary.highlight a, .btn-primary a.highlight {
  background: #f2dede;
  color: #a94442;
  border-color: #ebccd1; }

.btn-primary.highlight:hover {
  background: #dca7a7; }

.chosen-container-multi .chosen-choices {
  background-color: #fff;
  color: #555;
  border: 1px solid #e4afd3; }

.chosen-container-single .chosen-single, .chosen-container-active.chosen-with-drop .chosen-single, .chosen-container .chosen-drop, .chosen-container-multi .chosen-choices .search-choice {
  background-color: #f8f9d4;
  color: #555;
  border: 1px solid #e4afd3; }

.chosen-container-single .chosen-search input[type="text"] {
  background-color: #f8f9d4;
  border: 1px solid #e4afd3; }

.chosen-container .chosen-results li.highlighted {
  background-color: #2e1f39;
  color: #f2f2f2; }

.autotoc > .nav {
  background: #fff;
  border-color: #8e286a; }

.autotoc * {
  color: #8e286a; }

.autotoc .nav > li > a:hover, .autotoc .nav .nav > li > a:hover {
  color: #f2f2f2;
  background: #2e1f39; }
