// $Id$ tiki-selector-variables.scss file, to provide values for "legacy" Tiki CSS selectors (not covered by Bootstrap).
// These Kiwi theme option values are used by themes/fivealive/less/_tiki-selectors.scss

$imagePath: "../images/";
$imagePathTop: "../../../images/";
$side-column-border: none;
$side-column-panel-heading-background: #ffffff;
// url('#{$imagePath}siteheader.png') no-repeat -1000px -200px;
$side-column-panel-heading-border-color: #cdbe23;
$side-column-panel-heading-border-width: 0 0 1px 0;
$side-column-panel-title-color: #cdbe23;
// #638637;
$header_outer-background: url('#{$imagePath}siteheadertile.png') 0 0 no-repeat;
$header_container-background: url('#{$imagePathTop}header_left.png') 0 0 no-repeat;
$header_container_header-background: url('#{$imagePath}siteheader.png') -248px 0 no-repeat;
$form-control-background: #f8f9d4;
$form-control-border-colors: #f5fb86 #fbfbee #fbfbee #f5fb86;
$footer-color: #f4f4f4;
$footer-border-color: #ebdc14;
$footer-link-color: #a9a9a9;
$navbar-default-navbar-nav-li-a-background: #cdbe23;
$postbody-title-background: url('#{$imagePath}siteheader.png') no-repeat -480px -200px;
$postbody-title-color: #ffffff;
$brand-primary-of-option: $brand-primary;

.navbar-nav > li.dropdown {
	border-bottom: 1px solid $btn-primary-bg;
}
