// $Id$
// This file is for additional LESS rules beyond what are in variables.scss.
$imagePath: "../images/";

#col2 .card,
#col3 .card,
#bottom_modules .card {
	border: none;
}

#col2 .card-header,
#col3 .card-header,
#bottom_modules .card-header {
	background: #f2f2f2; // #e1d518 url('#{$imagePath}siteheader.png') no-repeat -1000px -200px;
	border-bottom: none;
}

// Header graphics
.header_outer {
	/* whole width div containing the header strip */
	background: transparent;
}

.header_container > .header {
	/* inner <header> element that gets .fixedwidth class applied */
	background: transparent;
}

header.header .module.secondary_site_menu {
	background: none;
}

.middle_outer {
	background: url('#{$imagePath}topbar.jpg') repeat-x;
}

.page-header {
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: none;
}

.form-control,
select,
input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"],
input[type="file"],
input[type="search"],
input[type="number"],
input#login-pass,
textarea,
.adminoptionbox option {
	background-color: #ffffff; //#f8f9d4;
	border-color: #e0e0e0; // #F5FB86 #FBFBEE #FBFBEE #F5FB86;
}

.navbar-collapse {
	border: none;
}

#footer {
	background: #ebebeb;
	color: #696969; // #696969;
	padding: 1px 0 2px 0;
	width: 100%;
}

.footer_liner {
	border-top: 1px solid transparent; //#ebdc14;
	border-bottom: 1px solid transparent; // #ebdc14;
}

.navbar-nav .open .dropdown-menu,
.navbar-nav .open .dropdown-menu li,
.navbar-default .navbar-nav > li > a {
	background: #eeeeee; // #cdbe23;
}


.navbar-nav .open .dropdown-menu,
.navbar-nav .open .dropdown-menu li	{
	background: #aaaaaa;
}

.topbar .navbar-default .navbar-nav > li a:hover,
.topbar .nav > li:hover,
.topbar .cssmenu_horiz li:hover,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,

li.selected > a {
	background: linear-gradient(to bottom, #93c44f 0%, #6d9f26 100%);
	color: #ffffff;
}


.postbody-title {
	background: #f0f0f0;
}

.siteloginbar_popup .dropdown-menu > li > a {
	color: #ffffff;
}

header.header {
	.sitetitle,
	.sitesubtitle {
		color: $primary;
		text-shadow: none;
	}
}

h1 {
	font-size: 1.6em;
	background: url('#{$imagePath}h_bullet.jpg') no-repeat 0 50%;
	padding-left: 19px;
}

h2 {
	font-size: 1.6em;
	background: url('#{$imagePath}h_bullet.jpg') no-repeat 0 50%;
	padding-left: 19px;
}

h1.sitetitle {
	background: none;
}

h2.sitesubtitle {
	background: none;
}

.btn-default,
input[type="reset"],
input[type="submit"],
.button input {
	background: linear-gradient(to bottom, #a1bb87 0%, #8fa872 50%, #a1bb87 100%);
	text-transform: uppercase;
	border-width: 2px;
}

.btn-default:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
	background: linear-gradient(to bottom, #8fa872 50%, #8fa872 50%, #a1bb87 100%);
}

.btn.btn-link,
.btn-link:hover,
input[type="submit"].btn-link {
	background: none;
}

.topbar {
	margin-bottom: 20px;
	.card-header,
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		background: none;
		border-width: 0;
	}
	.navbar {
		border: none;
	}
	.navbar-nav > li > a {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}
