{* $Id$ *}

<div class="media"><div class="mr-4">
		<span class="fa-stack fa-lg" style="width: 100px;" title="{tr}Configuration Profiles Wizard{/tr}" >
			<i class="fa fa-cubes fa-stack-2x"></i>
			<i class="fa fa-rotate-270 fa-magic fa-stack-2x ml-5"></i>
		</span>
	</div>
	<div class="media-body">
		<h4 class="mt-0 mb-4">{tr}Initialize Tiki as an application, e.g. a blog., by means of applying one of the 4 featured configuration profiles{/tr}.</h4>
		<h3>{tr}Profiles:{/tr}</h3>
			<div class="row">
				<div class="col-md-6">
					<h4>{tr}Collaborative Community{/tr}</h4>
					(<a href="tiki-admin.php?ticket={ticket mode=get}&profile=Collaborative_Community_12x&show_details_for=Collaborative_Community_12x&categories%5B%5D={$tikiMajorVersion}.x&categories%5B%5D=Featured+profiles&repository=http%3a%2f%2fprofiles.tiki.org%2fprofiles&page=profiles&preloadlist=y&list=List#step2" target="_blank">{tr}apply profile now{/tr}</a>)
					<br>
					<p>{tr}Setup to help subject experts and enthusiasts work together to build a Knowledge Base{/tr}
						<a target="tikihelp" class="tikihelp" title="{tr}Collaborative Community{/tr}:
							{tr}Uses{/tr}:
							<ul>
								<li>{tr}Wiki Editing{/tr}</li>
								<li>{tr}Personal Member Spaces{/tr}</li>
								<li>{tr}Forums{/tr}</li>
								<li>{tr}Blogs{/tr}</li>
							</ul>"
						>
							{icon name="help"}
						</a>
					</p>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<a href="http://tiki.org/display524" class="thumbnail internal" data-box="box" title="{tr}Click to expand{/tr}">
								<img src="img/profiles/profile_thumb_collaborative_community.png" alt="Click to expand" class="regImage pluginImg" title="{tr}Click to expand{/tr}" />
							</a>
							<div class="small text-center">
								{tr}Click to expand{/tr}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h4>{tr}Company Intranet{/tr}</h4>
					(<a href="tiki-admin.php?ticket={ticket mode=get}&profile=Company_Intranet_12x&show_details_for=Company_Intranet_12x&categories%5B%5D={$tikiMajorVersion}.x&categories%5B%5D=Featured+profiles&repository=http%3a%2f%2fprofiles.tiki.org%2fprofiles&page=profiles&preloadlist=y&list=List#step2" target="_blank">{tr}apply profile now{/tr}</a>)
					<br>
					<p>
						{tr}Setup for a Corporate Intranet of a typical medium-sized business{/tr}.
						<a target="tikihelp" class="tikihelp" title="{tr}Company Intranet{/tr}:
							{tr}Uses{/tr}:
							<ul>
								<li>{tr}Company News Articles{/tr}</li>
								<li>{tr}Executive Blog{/tr}</li>
								<li>{tr}File Repository & Management{/tr}</li>
								<li>{tr}Collaborative Wiki{/tr} </li>
							</ul>"
						>
							{icon name="help"}
						</a>
					</p>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<a href="http://tiki.org/display525" class="thumbnail internal" data-box="box" title="{tr}Click to expand{/tr}">
								<img src="img/profiles/profile_thumb_company_intranet.png" alt="Click to expand" class="regImage pluginImg" title="{tr}Click to expand{/tr}" />
							</a>
							<div class="small text-center">
								{tr}Click to expand{/tr}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h4>{tr}Personal Blog and Profile{/tr}</h4>
					(<a href="tiki-admin.php?ticket={ticket mode=get}&profile=Personal_Blog_and_Profile_12x&show_details_for=Personal_Blog_and_Profile_12x&categories%5B%5D={$tikiMajorVersion}.x&categories%5B%5D=Featured+profiles&repository=http%3a%2f%2fprofiles.tiki.org%2fprofiles&page=profiles&preloadlist=y&list=List#step2" target="_blank">{tr}apply profile now{/tr}</a>)
					<br>
					<p>
						{tr}Setup with many cool features to help you integrate the Social Web and establish a strong presence in the Blogosphere{/tr}
						<a target="tikihelp" class="tikihelp" title="{tr}Personal Blog and Profile{/tr}:
							{tr}Uses{/tr}:
							<ul>
								<li>{tr}Blog (Full set of blog related features){/tr}</li>
								<li>{tr}Image Gallery{/tr}</li>
								<li>{tr}RSS Integration{/tr}</li>
								<li>{tr}Video Log{/tr}</li>
							</ul>"
						>
							{icon name="help"}
						</a>
					</p>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<a href="http://tiki.org/display526" class="thumbnail internal" data-box="box" title="{tr}Click to expand{/tr}">
								<img src="img/profiles/profile_thumb_personal_blog_and_profile.png" alt="Click to expand" class="regImage pluginImg" title="{tr}Click to expand{/tr}" />
							</a>
							<div class="small text-center">
								{tr}Click to expand{/tr}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h4>{tr}Small Organization Web Presence{/tr}</h4>
					(<a href="tiki-admin.php?ticket={ticket mode=get}&profile=Small_Organization_Web_Presence_12x&show_details_for=Small_Organization_Web_Presence_12x&categories%5B%5D={$tikiMajorVersion}.x&categories%5B%5D=Featured+profiles&repository=http%3a%2f%2fprofiles.tiki.org%2fprofiles&page=profiles&preloadlist=y&list=List#step2" target="_blank">{tr}apply profile now{/tr}</a>)
					<br>
					<p>
						{tr}Setup for a Web Presence of a typical small business or non-profit{/tr}.
						<a target="tikihelp" class="tikihelp" title="{tr}Small Organization Web Presence{/tr}:
							{tr}Uses{/tr}:
							<ul>
								<li>{tr}Company News & Updates{/tr}</li>
								<li>{tr}Highlight Company's Products and Services{/tr}</li>
								<li>{tr}File Gallery (great for Media Kit){/tr}</li>
								<li>{tr}Contact Form{/tr} </li>
							</ul>"
						>
							{icon name="help"}
						</a>
					</p>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<a href="http://tiki.org/display527" class="thumbnail internal" data-box="box" title="{tr}Click to expand{/tr}">
								<img src="img/profiles/profile_thumb_small_org_web_presence.png" alt="Click to expand" class="regImage pluginImg" title="{tr}Click to expand{/tr}" />
							</a>
							<div class="small text-center">
								{tr}Click to expand{/tr}
							</div>
						</div>
					</div>
				</div>
			</div>
			<em>{tr}See also{/tr} <a href="tiki-admin.php?page=profiles&amp;alt=Profiles" target="_blank">{tr}Profiles admin card{/tr}</a></em>
	</div>
</div>
