{* $Id$ *}

<div class="media">
	<span class="pull-left fa-stack fa-lg margin-right-18em" alt="{tr}Upgrade Wizard{/tr}" title="Upgrade Wizard">
		<i class="fa fa-arrow-circle-up fa-stack-2x"></i>
		<i class="fa fa-rotate-270 fa-magic fa-stack-2x ml-5"></i>
	</span>
	<img class="pull-right" src="img/icons/large/doc_site_logo.png" width="70" alt="{tr}Documentation site{/tr}" title="{tr}Documentation site{/tr}"/>
	{tr}Related pages from the Official Documentation site <em>https://doc.tiki.org</em>{/tr}.
	<br/><br/><br/>
	<div class="media-body">
		<div>
			<div class="simplebox">
				<div class='titlebar'>
					<b>doc.t.o/Tiki18from15</b>: {tr}To see it in full size out of this frame{/tr}, <a class="wiki external" target="_blank" href="https://doc.tiki.org/tiki-index_p.php?page=Tiki18from15" rel="external nofollow">{tr}click here{/tr}</a>
					<img src="img/icons/external_link.gif" width="15" height="14" class="icon" />
				</div>
				<p><iframe name="Documentation of changes from Tiki 15 to Tiki 18" width="100%" height="300" align="middle" frameborder="1" marginheight="0" marginwidth="0" scrolling="auto" src="https://doc.tiki.org/tiki-index_p.php?page=Tiki18from15"></iframe></p>
			</div>
			<br/><br/>
		</div>
		<div>
			<div class="simplebox">
				<div class='titlebar'>
					<b>doc.t.o/Tiki15from12</b>: {tr}To see it in full size out of this frame{/tr}, <a class="wiki external" target="_blank" href="https://doc.tiki.org/tiki-index_p.php?page=Tiki15from12" rel="external nofollow">{tr}click here{/tr}</a>
					<img src="img/icons/external_link.gif" width="15" height="14" class="icon" />
				</div>
				<p><iframe name="Documentation of changes from Tiki 12 to Tiki 15" width="100%" height="300" align="middle" frameborder="1" marginheight="0" marginwidth="0" scrolling="auto" src="https://doc.tiki.org/tiki-index_p.php?page=Tiki15from12"></iframe></p>
			</div>
			<br/><br/>
		</div>
		<div>
			<div class="simplebox">
				<div class='titlebar'>
					<b>doc.t.o/Tiki12from9</b>: {tr}To see it in full size out of this frame{/tr}, <a class="wiki external" target="_blank" href="https://doc.tiki.org/tiki-index_p.php?page=Tiki12from9" rel="external nofollow">{tr}click here{/tr}</a>
					<img src="img/icons/external_link.gif" width="15" height="14" class="icon" />
				</div>
				<p><iframe name="Documentation of changes from Tiki 9 to Tiki 12" width="100%" height="300" align="middle" frameborder="1" marginheight="0" marginwidth="0" scrolling="auto" src="https://doc.tiki.org/tiki-index_p.php?page=Tiki12from9"></iframe></p>
			</div>
			<br/><br/>
		</div>
		<div>
			<div class="simplebox">
				<div class='titlebar'>
					<b>doc.t.o/Upgrade</b>: {tr}To see it in full size out of this frame{/tr}, <a class="wiki external" target="_blank" href="https://doc.tiki.org/tiki-index_p.php?page=Upgrade" rel="external nofollow">{tr}click here{/tr}</a>
					<img src="img/icons/external_link.gif" width="15" height="14" class="icon" />
				</div>
				<p><iframe name="Documentation for Upgrades" width="100%" height="300" align="middle" frameborder="1" marginheight="0" marginwidth="0" scrolling="auto" src="https://doc.tiki.org/tiki-index_p.php?page=Upgrade"></iframe></p>
			</div>
		</div>
	</div>
</div>
