// $Id$

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
// $white:    #fff !default;
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #868e96 !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
// $black:    #000 !default;

$primary: #95a0be;
//$success: #48ca3b;
//$info: #4d3a7d;
//$warning: #debb27;
//$danger: #df6e1e;

//$theme-colors: (
// 	"primary":        	#ababab,
// 	"secondary": 		#dddddd,
// 	"success":         	#5cb85c,
// 	"info":           	#5bc0de,
// 	"warning":         	#f0ad4e,
// 	"danger":          	#d9534f,
//		"light":			#ffffff,
// 	"dark":				#000000
//);

// Options
// Spacing

// Body
$body-bg: lighten(#d7e5f3, 10%);
//$body-color: $gray-800;

// Links
$link-color: #613b8d;

// Components
$component-active-bg: #d7e5f3;
//$padding-base-vertical: .5rem;
//$padding-large-vertical: .9rem;

// Fonts
$headings-font-family: Simonetta, serif;

// Tables
//$table-border-color: #dddddd;

// Buttons
$btn-primary-color: #ffffff;
$btn-primary-bg: $primary;
$btn-primary-border: #818181;

// Forms
$input-bg: lighten(#d7e5f3, 10%);
$input-border: #d7e5f3;
$input-color-placeholder: #9a9a9a;

// Dropdowns
$dropdown-bg: lighten(#d7e5f3, 5%);
$dropdown-border: #6a6a6a;
$dropdown-divider-bg: lighten(#d7e5f3, 5%);

// Navs
// Navbar
//$navbar-dark-color: #ffffff;
//$navbar-dark-bg: #1f5daa;
//$navbar-dark-border: darken($navbar-dark-bg, 6.5%);

// Navbarlinks ??
$navbar-light-color: #393e51;
$navbar-light-hover-color: #6c7b8c;

$nav-tabs-border-color: $btn-primary-border;

// Pagination
// Jumbotron
// Cards
//$card-border-radius: $border-radius-lg;
//$card-text: #fff;//@gray-lighter;
//$card-header-bg: #386dbb;

// Tooltips
// Popovers
// Badges
// Modals
//$modal-header-border-color: #386dbb;
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

