/* Didiem theme newsletter stylesheet  */
body {
  background: #fff;
  color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 15px; }

a, a:visited {
  color: #007bff;
  text-decoration: underline; }

a:hover {
  color: #0056b3;
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  color: inherit; }

.card {
  margin-bottom: 1.5;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0.25rem; }

.card-header {
  border-bottom: 1px solid transparent; }

.card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  color: inherit; }
  .card-title > a, .card-title > small, .card-title > .small, .card-title > small > a, .card-title > .small > a {
    color: inherit; }

#col2 .card, #col3 .card, #bottom_modules .card {
  border: none; }

#col2 .card-header, #col3 .card-header, #bottom_modules .card-header {
  background: #f2f2f2;
  border-bottom: none; }

.header_outer {
  /* whole width div containing the header strip */
  background: transparent; }

.header_container > .header {
  /* inner <header> element that gets .fixedwidth class applied */
  background: transparent; }

header.header .module.secondary_site_menu {
  background: none; }

.middle_outer {
  background: url("../images/topbar.jpg") repeat-x; }

.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none; }

.form-control, select, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="file"], input[type="search"], input[type="number"], input#login-pass, textarea, .adminoptionbox option {
  background-color: #fff;
  border-color: #e0e0e0; }

.navbar-collapse {
  border: none; }

#footer {
  background: #ebebeb;
  color: #696969;
  padding: 1px 0 2px 0;
  width: 100%; }

.footer_liner {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }

.navbar-nav .open .dropdown-menu, .navbar-nav .open .dropdown-menu li, .navbar-default .navbar-nav > li > a {
  background: #eee; }

.navbar-nav .open .dropdown-menu, .navbar-nav .open .dropdown-menu li {
  background: #aaa; }

.topbar .navbar-default .navbar-nav > li a:hover, .topbar .nav > li:hover, .topbar .cssmenu_horiz li:hover, .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li.active a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, li.selected > a {
  background: linear-gradient(to bottom, #93c44f 0%, #6d9f26 100%);
  color: #fff; }

.postbody-title {
  background: #f0f0f0; }

.siteloginbar_popup .dropdown-menu > li > a {
  color: #fff; }

header.header .sitetitle, header.header .sitesubtitle {
  color: #007bff;
  text-shadow: none; }

h1 {
  font-size: 1.6em;
  background: url("../images/h_bullet.jpg") no-repeat 0 50%;
  padding-left: 19px; }

h2 {
  font-size: 1.6em;
  background: url("../images/h_bullet.jpg") no-repeat 0 50%;
  padding-left: 19px; }

h1.sitetitle {
  background: none; }

h2.sitesubtitle {
  background: none; }

.btn-default, input[type="reset"], input[type="submit"], .button input {
  background: linear-gradient(to bottom, #a1bb87 0%, #8fa872 50%, #a1bb87 100%);
  text-transform: uppercase;
  border-width: 2px; }

.btn-default:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button input:hover {
  background: linear-gradient(to bottom, #8fa872 50%, #8fa872 50%, #a1bb87 100%); }

.btn.btn-link, .btn-link:hover, input[type="submit"].btn-link {
  background: none; }

.topbar {
  margin-bottom: 20px; }
  .topbar .card-header, .topbar .navbar-default .navbar-collapse, .topbar .navbar-default .navbar-form {
    background: none;
    border-width: 0; }
  .topbar .navbar {
    border: none; }
  .topbar .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px; }
